.git
.github
.env
.env.*
!.env.example
.idea
.vscode
.phpunit.result.cache
.phpunit.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/imports/*
storage/app/private/*
storage/*.key
tests
docs
deploy
compose.yaml
Dockerfile
*.md
!README.md
*.pem
*.key
auth.json
