{
    "openapi": "3.1.0",
    "info": {
        "title": "Immoware Hub API",
        "version": "v1",
        "summary": "REST-API des Immoware Hub für Spiegeldaten aus Immoware24, Hub-Vorgänge, Verzeichnis und Health.",
        "description": "Alle Ressourcen liefern Spiegeldaten mit Herkunftsblock provenance (source_system, external_id, last_synced_at, connector, mapping_version, data_age_seconds, stale). Immoware24 ist Master; der Hub schreibt ausschließlich neue Dateien in den WebDAV-Posteingang (POST /api/v1/documents) und legt für alle anderen Änderungswünsche Änderungsvorschläge an.\n\n**Authentifizierung**: Authorization: Bearer hub_live_<prefix>_<secret>. Jede Operation nennt in x-scope die benötigten Scopes; admin umfasst alle Scopes.\n\n**Pagination**: Offset über page und per_page (maximal 500), Antwort {data, meta:{page, per_page, total}, links}. Alternativ Cursor über cursor= (leer für die erste Seite, danach meta.next_cursor), Antwort {data, meta:{per_page, count, next_cursor, prev_cursor}, links}. Sortierung über sort=-updated_at, Feldauswahl über fields=.\n\n**Fehler**: application/problem+json nach RFC 7807 mit type unter https://immoware.muellerhv.de/errors/<code>, request_id entspricht X-Correlation-Id.\n\n**Rate Limits**: 600 Requests pro Minute lesend, 60 pro Minute schreibend je Key. Header RateLimit-Limit, RateLimit-Remaining, bei 429 Retry-After.\n\n**Idempotenz**: Header Idempotency-Key ist für POST und PATCH Pflicht. Antworten werden 24 Stunden gespeichert und mit Idempotent-Replayed: true wiederholt.\n\n**Webhooks**: ausgehend, HMAC-SHA256-signiert, Ereigniskatalog im Abschnitt webhooks. Es gibt keine eingehenden Webhooks von Immoware24.",
        "contact": {
            "name": "Hausverwaltung Müller GmbH"
        }
    },
    "servers": [
        {
            "url": "https://immoware.muellerhv.de",
            "description": "Produktion"
        }
    ],
    "tags": [
        {
            "name": "meta",
            "description": "Verzeichnis, Aufrufer, Sync-Status, Capabilities"
        },
        {
            "name": "directory",
            "description": "Telefonbuch aus dem Kontaktspiegel"
        },
        {
            "name": "health",
            "description": "Health-Checks ohne Pflicht-Auth, Details nur mit Scope admin"
        },
        {
            "name": "docs",
            "description": "OpenAPI und HTML-Dokumentation"
        },
        {
            "name": "webhooks",
            "description": "Verwaltung ausgehender Webhook-Endpunkte"
        },
        {
            "name": "properties",
            "description": "Objekte (Liegenschaften) aus dem Immoware24-Spiegel."
        },
        {
            "name": "units",
            "description": "Verwaltungseinheiten je Objekt."
        },
        {
            "name": "contacts",
            "description": "Kontakte aus dem CardDAV-Spiegel. PATCH erzeugt ausschließlich einen Änderungsvorschlag."
        },
        {
            "name": "contracts",
            "description": "Mietverträge je Einheit."
        },
        {
            "name": "documents",
            "description": "Dokumentmetadaten aus dem WebDAV-Spiegel. POST legt einen Upload-Antrag für den Posteingang an."
        },
        {
            "name": "invoices",
            "description": "Rechnungen aus Importen (Phase 3)."
        },
        {
            "name": "open-items",
            "description": "Offene Posten je Stichtag (Phase 3)."
        },
        {
            "name": "transactions",
            "description": "Buchungen aus DATEV-CSV und CAMT.053 (Phase 3). Duplikate werden nicht verschmolzen, row_hash dient der Deduplikation."
        },
        {
            "name": "cases",
            "description": "Hub-eigene Vorgänge. Kein Schreibpfad nach Immoware24."
        },
        {
            "name": "calendar-events",
            "description": "Kalendereinträge aus dem CalDAV-Spiegel (lesend, Phase 3)."
        },
        {
            "name": "proposals",
            "description": "Änderungsvorschläge (Human-in-the-Loop-Rückweg), lesend. Anlage über PATCH /contacts/{id}; Umsetzung erfolgt manuell in Immoware24 und wird durch den nächsten Sync bestätigt."
        },
        {
            "name": "conflicts",
            "description": "Sync-Konflikte, lesend. Zuweisung und Auflösung erfolgen in der Admin-Oberfläche (Endpunkte assign und resolve sind geplant)."
        }
    ],
    "paths": {
        "/api/docs": {
            "get": {
                "operationId": "api_docs_html",
                "summary": "API-Dokumentation",
                "tags": [
                    "docs"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "HTML-Dokumentation"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    }
                },
                "x-scope": [],
                "x-effect": "hub",
                "x-evidence-status": null,
                "x-phase": 1
            }
        },
        "/api/docs/openapi.json": {
            "get": {
                "operationId": "api_docs_openapi",
                "summary": "API-Dokumentation",
                "tags": [
                    "docs"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OpenAPI-Spezifikation"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    }
                },
                "x-scope": [],
                "x-effect": "hub",
                "x-evidence-status": null,
                "x-phase": 1
            }
        },
        "/api/v1": {
            "get": {
                "operationId": "api_v1_root",
                "summary": "Ressourcenverzeichnis",
                "tags": [
                    "meta"
                ],
                "parameters": [],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-scope": [],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/calendar-events": {
            "get": {
                "operationId": "api_v1_calendar_events_index",
                "summary": "calendar-events auflisten",
                "tags": [
                    "calendar-events"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "property_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "unit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "case_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "starts_at",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CalendarEvent"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "properties:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 3
            }
        },
        "/api/v1/calendar-events/{id}": {
            "get": {
                "operationId": "api_v1_calendar_events_show",
                "summary": "calendar-events einzeln lesen",
                "tags": [
                    "calendar-events"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CalendarEvent"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "properties:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 3
            }
        },
        "/api/v1/capabilities": {
            "get": {
                "operationId": "api_v1_capabilities",
                "summary": "Capability Registry",
                "tags": [
                    "meta"
                ],
                "parameters": [],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-scope": [
                    "sync:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/cases": {
            "get": {
                "operationId": "api_v1_cases_index",
                "summary": "cases auflisten",
                "tags": [
                    "cases"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "property_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "unit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "immoware_ticket_reference",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Case"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "cases:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            },
            "post": {
                "operationId": "api_v1_cases_store",
                "summary": "cases anlegen",
                "tags": [
                    "cases"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationFailed"
                    },
                    "201": {
                        "description": "Vorgang",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Case"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "cases:write"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1,
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CaseWrite"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/cases/{id}": {
            "get": {
                "operationId": "api_v1_cases_show",
                "summary": "cases einzeln lesen",
                "tags": [
                    "cases"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Case"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "cases:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            },
            "patch": {
                "operationId": "api_v1_cases_update",
                "summary": "cases ändern",
                "tags": [
                    "cases"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationFailed"
                    },
                    "200": {
                        "description": "Vorgang",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Case"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "cases:write"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1,
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CaseWrite"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/conflicts": {
            "get": {
                "operationId": "api_v1_conflicts_index",
                "summary": "conflicts auflisten",
                "tags": [
                    "conflicts"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "conflict_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "entity_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "entity_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "connection_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "assigned_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Conflict"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "conflicts:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/conflicts/{id}": {
            "get": {
                "operationId": "api_v1_conflicts_show",
                "summary": "conflicts einzeln lesen",
                "tags": [
                    "conflicts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Conflict"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "conflicts:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/contacts": {
            "get": {
                "operationId": "api_v1_contacts_index",
                "summary": "contacts auflisten",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "kind",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "property_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "unit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "company_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Contact"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "contacts:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 1
            }
        },
        "/api/v1/contacts/{id}": {
            "get": {
                "operationId": "api_v1_contacts_show",
                "summary": "contacts einzeln lesen",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Contact"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "contacts:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 1
            },
            "patch": {
                "operationId": "api_v1_contacts_propose",
                "summary": "Änderungsvorschlag für Kontakt anlegen (kein Writeback)",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationFailed"
                    },
                    "202": {
                        "description": "Änderungsvorschlag angelegt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ContactProposalResult"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "contacts:write"
                ],
                "x-effect": "hub",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 1,
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactProposal"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/contracts": {
            "get": {
                "operationId": "api_v1_contracts_index",
                "summary": "contracts auflisten",
                "tags": [
                    "contracts"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "unit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "property_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contract_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Contract"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "contracts:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 1
            }
        },
        "/api/v1/contracts/{id}": {
            "get": {
                "operationId": "api_v1_contracts_show",
                "summary": "contracts einzeln lesen",
                "tags": [
                    "contracts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Contract"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "contracts:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 1
            }
        },
        "/api/v1/directory": {
            "get": {
                "operationId": "api_v1_directory_index",
                "summary": "Telefonbuch",
                "tags": [
                    "directory"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "vcf",
                                "xml"
                            ]
                        },
                        "description": "json (Standard), vcf (vCard 3.0 Liste), xml (generische Telefonbuchstruktur)."
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Verzeichnis",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DirectoryEntry"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        }
                                    }
                                }
                            },
                            "text/vcard": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "directory:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/directory/search": {
            "get": {
                "operationId": "api_v1_directory_search",
                "summary": "Telefonbuch durchsuchen",
                "tags": [
                    "directory"
                ],
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "vcf",
                                "xml"
                            ]
                        },
                        "description": "json (Standard), vcf (vCard 3.0 Liste), xml (generische Telefonbuchstruktur)."
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 2
                        },
                        "description": "Suche über Name, Firma, Telefon, Mobil, Rolle, Objekt, Einheit."
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Verzeichnis",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DirectoryEntry"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        }
                                    }
                                }
                            },
                            "text/vcard": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "directory:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/documents": {
            "get": {
                "operationId": "api_v1_documents_index",
                "summary": "documents auflisten",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "property_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "unit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "case_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "folder_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "content_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "document_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "origin",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Document"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "documents:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 1
            },
            "post": {
                "operationId": "api_v1_documents_upload",
                "summary": "Upload-Antrag für den Posteingang anlegen",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationFailed"
                    },
                    "202": {
                        "description": "Upload-Antrag angenommen",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/DocumentUploadResult"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "501": {
                        "$ref": "#/components/responses/NotImplemented"
                    }
                },
                "x-scope": [
                    "documents:write"
                ],
                "x-effect": "immoware24",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 1,
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentUpload"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/documents/uploads/{uuid}": {
            "get": {
                "operationId": "api_v1_documents_uploads_show",
                "summary": "Status eines Upload-Antrags (write_operation) lesen",
                "tags": [
                    "meta"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Status des Upload-Antrags",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/DocumentUploadResult"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "documents:write",
                    "sync:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/documents/{id}": {
            "get": {
                "operationId": "api_v1_documents_show",
                "summary": "documents einzeln lesen",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Document"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "documents:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "VERIFIZIERT",
                "x-phase": 1
            }
        },
        "/api/v1/invoices": {
            "get": {
                "operationId": "api_v1_invoices_index",
                "summary": "invoices auflisten",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "property_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "invoice_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Invoice"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "finance:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 3
            }
        },
        "/api/v1/invoices/{id}": {
            "get": {
                "operationId": "api_v1_invoices_show",
                "summary": "invoices einzeln lesen",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Invoice"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "finance:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 3
            }
        },
        "/api/v1/mcp/call": {
            "post": {
                "operationId": "api_v1_mcp_call",
                "summary": "POST /api/v1/mcp/call",
                "tags": [
                    "meta"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-scope": [],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/mcp/tools": {
            "post": {
                "operationId": "api_v1_mcp_tools",
                "summary": "POST /api/v1/mcp/tools",
                "tags": [
                    "meta"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-scope": [],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/me": {
            "get": {
                "operationId": "api_v1_me",
                "summary": "Aktueller Aufrufer",
                "tags": [
                    "meta"
                ],
                "parameters": [],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-scope": [],
                "x-effect": "hub",
                "x-evidence-status": "HUB",
                "x-phase": 1
            }
        },
        "/api/v1/open-items": {
            "get": {
                "operationId": "api_v1_open_items_index",
                "summary": "open-items auflisten",
                "tags": [
                    "open-items"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "property_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "unit_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "kind",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "as_of_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OpenItem"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "finance:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 3
            }
        },
        "/api/v1/open-items/{id}": {
            "get": {
                "operationId": "api_v1_open_items_show",
                "summary": "open-items einzeln lesen",
                "tags": [
                    "open-items"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OpenItem"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "finance:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 3
            }
        },
        "/api/v1/properties": {
            "get": {
                "operationId": "api_v1_properties_index",
                "summary": "properties auflisten",
                "tags": [
                    "properties"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/cursor"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/fields"
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/updated_since"
                    },
                    {
                        "$ref": "#/components/parameters/external_id"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/include_deleted"
                    },
                    {
                        "name": "management_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postal_code",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "immoware_object_number",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Seite",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Propertie"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PageMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "x-scope": [
                    "properties:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 1
            }
        },
        "/api/v1/properties/{id}": {
            "get": {
                "operationId": "api_v1_properties_show",
                "summary": "properties einzeln lesen",
                "tags": [
                    "properties"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "$ref": "#/components/responses/Unauthenticated"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited"
                    },
                    "503": {
                        "$ref": "#/components/responses/ServiceUnavailable"
                    },
                    "200": {
                        "description": "Einzelressource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Propertie"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                },
                "x-scope": [
                    "properties:read"
                ],
                "x-effect": "hub",
                "x-evidence-status": "DOKUMENTIERT",
                "x-phase": 1
            }
        },
        "/api/v1/proposals": {
            "get": {
                "operationId": "api_v1_proposals_index",
                "summary": "proposals auflisten",
                "tags": [
                    "proposals"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
[...]
